.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 50px 10%;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 992px) {
    .card-wrapper {
      padding: 30px 5%; } }
  @media screen and (max-width: 450px) {
    .card-wrapper {
      padding: 30px 0; } }
  .card-wrapper .card {
    margin: 5px;
    width: calc(33.3333% - 10px); }
    @media screen and (max-width: 992px) {
      .card-wrapper .card {
        width: calc(33.3333% - 10px); } }
    @media screen and (max-width: 850px) {
      .card-wrapper .card {
        width: calc(50% - 10px); } }
    @media screen and (max-width: 600px) {
      .card-wrapper .card {
        width: calc(100% - 10px); } }
    .card-wrapper .card .card-content {
      position: relative; }
      .card-wrapper .card .card-content i {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1; }
    .card-wrapper .card .image {
      width: 100%;
      height: 250px;
      background-color: #ddd; }
  .card-wrapper .chip {
    margin-top: 5px;
    background-color: transparent; }
    .card-wrapper .chip .img-profile {
      float: left;
      margin: 0 8px 0 -12px;
      width: 32px !important;
      height: 32px !important;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.15);
      color: #333; }
      .card-wrapper .chip .img-profile:before {
        content: attr(letter);
        width: 32px;
        text-align: center;
        display: inline-block;
        position: relative;
        z-index: 0; }

.stop-scrolling {
  overflow: hidden;
  height: 100%; }

::-webkit-scrollbar {
  width: 5px;
  padding: 3px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5); }

nav {
  background-color: transparent; }

.nav-wrapper {
  width: 100%;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important; }
  .nav-wrapper .logo {
    height: 30px;
    margin: 10px 30px 0px 20px; }
    .nav-wrapper .logo object {
      height: 100%; }
  .nav-wrapper .profile-btn {
    width: auto;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 0 20px;
    cursor: pointer; }
    .nav-wrapper .profile-btn:hover {
      background-color: rgba(255, 255, 255, 0.2); }
    .nav-wrapper .profile-btn .img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2); }
      .nav-wrapper .profile-btn .img:before {
        z-index: -1;
        content: attr(letter);
        width: 30px;
        line-height: 30px;
        color: white;
        position: absolute;
        text-align: center;
        display: inline-block; }
    .nav-wrapper .profile-btn .name {
      margin-left: 10px; }
      @media screen and (max-width: 600px) {
        .nav-wrapper .profile-btn .name {
          display: none; } }

.header {
  position: absolute;
  top: 0;
  padding-top: 80px;
  width: 100%;
  color: white; }
  .header .profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1); }
    .header .profile-img:before {
      z-index: 1;
      content: attr(letter);
      width: 130px;
      line-height: 130px;
      color: white;
      position: absolute;
      font-size: 50px;
      text-align: center;
      display: inline-block; }
  .header .profile-name {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 40px 0; }
  .header .btn-floating {
    position: fixed;
    bottom: 3.3333%;
    right: 3.3333%;
    z-index: 10; }

.card-wrapper {
  margin-top: 240px; }

.new-diet {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.3);
  z-index: 1000;
  position: fixed;
  right: 0;
  top: 0;
  display: none; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1.0; } }
@keyframes appearFromRight {
  from {
    margin-right: -400px; }
  to {
    margin-right: 0px; } }
.show-panel {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.5s; }
  .show-panel .new-diet-container {
    animation-name: appearFromRight;
    animation-duration: 0.5s; }

.new-diet-container {
  top: 0;
  right: 0;
  position: absolute;
  overflow-y: auto;
  padding: 50px;
  width: 400px;
  height: 100%;
  background-color: white;
  transition: 1s ease-in-out; }
  .new-diet-container textarea {
    white-space: pre; }
  .new-diet-container .close-btn {
    position: fixed;
    top: 3.3333%;
    padding: 20px;
    cursor: pointer;
    right: 3.3333%; }
  @media screen and (max-width: 400px) {
    .new-diet-container {
      width: 100%; } }
  .new-diet-container h5 {
    margin-bottom: 30px; }
  .new-diet-container .btn-floating {
    position: fixed;
    bottom: 3.3333%;
    right: 3.3333%; }

.chip .img {
  float: left;
  margin: 0 8px 0 -12px;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  background-size: cover;
  background-position: center center; }

.file-field input {
  border: none !important; }

/*# sourceMappingURL=profile.css.map */
