
$amber: #ffd54f;

.card-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding: 50px 10%; 
	margin: 0 auto; 
	position: relative; 
	 
	@media screen and(max-width: 992px){
		padding: 30px 5%; 
	} 

	@media screen and(max-width: 450px){
		padding: 30px 0; 
	}

	.edit-btn, .delete-btn, .buy-btn{
		color: #888;
		bottom: 25px;
		position: absolute;
	}
	.delete-btn, .buy-btn{
		right: 25px;
		&:hover{
			color: #e53935; }
	}
	.edit-btn{
		right: 70px;
		&:hover{
			color: #1e88e5; }
	}

	.diet-rating{
		float: right;
		font-size: 20px;
		position: absolute;
		bottom: 20px;
		right: 20px;
		color: $amber
	}

	.close-card{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	h1{
		font-size: 18px;
		line-height: 18px;
		margin: 0 0 20px 0; 
		text-transform: uppercase;
	}

	h2{
		font-size: 16px;
		line-height: 16px;
		margin: 40px 0 0 0!important;
		font-weight: 700;
		color: #555;
	}

	ul{
		display: flex;
		flex-wrap: wrap;
	}

	li{   
		margin: 2px;
		padding: 0;
		display: flex;
		align-items: center;
		align-content: center;
		background-color: #eee;
		border-radius: 50px; 
		min-width: 45%;

		div{
			width: 40px;
			height: 40px; 
			border-radius: 50%;
		}
		span{ 
			padding: 0 20px 0 10px;
		}
	}

	.card{
		margin: 5px;
		width: calc(33.3333% - 10px);
		
		@media screen and(max-width: 992px){
			width: calc(33.3333% - 10px);
		}
		@media screen and(max-width: 850px){
			width:  calc(50% - 10px);
		}

		@media screen and(max-width: 600px){
			width:  calc(100% - 10px);
		}
		.card-content{
			position: relative;
			.more-btn{
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 1;
			}
		}
		
		.image{
			width: 100%;
			height: 300px;
			background-color: #ddd;
		}
	}
	.chip{ 
	margin-top: 5px ;
	background-color: transparent;
	.img-profile{
		float: left;
		margin: 0 8px 0 -12px;
		width: 32px!important;
		height: 32px!important;
		border-radius: 50%; 
		background-color: rgba(black, 0.15);
		color: #333;
		&:before{
			content: attr(letter);
			width: 32px;
			text-align: center;
			display: inline-block;
			position: relative;
			z-index: 0;
		}
	}
}
}


 	 
.rating-container{
	display: inline-flex;
	margin-top: 20px;

	.star{ 
		width: 24px;
		height: 24px;
		margin: 0!important; 
		cursor: pointer;
		color: #bbb;
		&:hover ~ .star{
			color: #bbb;
		}
		&.is-selected{
			color: $amber; 
			&:hover{
				color: $amber; 
			}
		}
	}
	&:hover .star{ 
		color: #ffc107; 
	} 
} 