@import 'cardwrapper';

body{
	background-color: #f2f2f2;   
}


.link-login{ 
	position: fixed;
	right: 20px;
	top: 0;
	display: block;
}


::-webkit-scrollbar{
	width: 5px;  
	padding: 3px;
	background-color: transparent}

::-webkit-scrollbar-track{  
	background-color: transparent;}

::-webkit-scrollbar-thumb{   
	margin: 3px;
	background-color: rgba(black, 0.5);}
.nav-wrapper{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;

	.logo{	
		height: 30px;
		margin-bottom: 20px;
		object{
			height: 100%;
		}
	}
}

	 
nav{
 	z-index: 1000!important;
 	position: fixed;
 	top: 0;
 	left: 0;

 	.nav-wrapper{
 		z-index: 1;
 		position: relative;
 	}
}
 